{% extends 'base.html.twig' %}

{% block title %}Formulaire d'inscripton{% endblock %}

{% block body %}
<style></style>
<div class="container">
        <h2>Formulaire d'inscripton</h2>
        {{ form(form) }}
</div>
{% endblock %}
